body {
        margin-top: 100px;
    background-color: rgb(128, 128, 128);
    text-align:center;
    
  }
#table{
    width:400px;
}
input[type="text"]{padding:5px 15px; border:2px #ccc solid;
    -webkit-border-radius: 5px;
    text-align:center;
    width:400px;
    border-radius: 50px; }
input[type="submit"]{padding:5px 15px; border:2px #009393 solid;
    cursor:pointer;
    width:150px;
    -webkit-border-radius: 5px;
    border-radius: 50px; 
}
input[type="reset"]{padding:5px 15px; border:2px #009393 solid;
    cursor:pointer;
    width:150px;
    -webkit-border-radius: 5px;
    border-radius: 50px; 
}
input[type="password"]{padding:5px 15px; border:2px #ccc solid;
    -webkit-border-radius: 5px;
    text-align:center;
    width:400px;
    border-radius: 50px; }
#greenline{
    
    border-bottom:0.5px #009393 solid;
}
#moneybtn{
    margin-left: 10px;
}
#back {
    float:right;
  }
#tt{
    margin:0 auto;
}

#title{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #005757;
}
#ttt{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;

}
#gridbox{
        display: grid;
        grid-gap: 10px;       
    }
    img{
        width: 20px;
        height: 20px;
    }